@import url(./apps/email/email-list.css);

*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app-header {
    max-width: 980px;
    height: 5vh;
    background-color: rgb(165, 165, 165);
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.app-footer {
    height: 5vh;
    background-color: rgb(172, 169, 169);
}

.emails-app{
    height: 90vh;
}

a {
    text-decoration: none;
}

