@import url(./apps/email/email-home-page.css);
@import url(./apps/keep/note-preview.css);
@import url(./apps/keep/note-list.css);

*{
    box-sizing: border-box;
    font-family: 'Nunito-regular';
}

body {
    margin: 0;
    background-color: whitesmoke;
}

@font-face {
    font-family: 'Nunito-bold';
    src: url(/font/Nunito-ExtraBold.ttf)
}

@font-face {
    font-family: 'Nunito-regular';
    src: url(/font/Nunito-Regular.ttf)
}

/* header */

.app-header {
    min-width: 980px;
    height: 12vh;
    background-color: whitesmoke;
    border: gray 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 15px;
}

.logo >* {
    font-size: 2.8rem;
    font-family: 'Nunito-bold';
}

.main-nav {
    font-size: 1.5rem;
}

.router-link-exact-active {
    color: rgb(24, 24, 23)
}


.app-footer {
    height: 5vh;
    background-color: rgb(172, 169, 169);
}

.emails-app{
    height: 90vh;
}

a {
    text-decoration: none;
    color: gray;
}

