.new-mail-container{
    width: 100%;
    max-width: 900px;
    margin: auto;
    position: absolute;
    bottom: 53px;
    right: 15px;
    border: 1px solid black;
    border-radius: 8px;
}

.compose-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(126, 126, 126);
    padding-left: 10px;
    padding-right: 10px;

}

.compose-header *{
    color: white;
    font-size: 1.56rem;
}

.new-email{
    display: flex;
    flex-direction: column;
}

.new-email input{
    border: 0px;
    font-size: 1.56rem;
    line-height: 2;
    border-bottom: 1px solid gray;
    padding-inline-start: 10px;
}

.new-email input:focus{
    outline: none;
}

.new-email textarea{
    width: 100%;
    height: 50vh;
    border: 0px;
    font-size: 1.56rem;
    resize: none;
    padding: 10px;
}

.new-email textarea:focus{
    outline: none;
}

.new-mail-container button{
font-size: 2rem;
background-color:unset;
border: 1px solid rgb(189, 189, 189);
border-radius: 8px;
}

