.email-preview-container{
    max-width: 980px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid rgba(233, 233, 233, 0.5);
    background-color: rgb(202, 202, 202);
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.4s;
    cursor: pointer;

}

.email-preview-container:hover{
    background-color: #FFBCBC;
}

.email-preview{
    display: flex;
    justify-content: space-between;
    width: 90%;

}

.email-preview *:not(.preview-body){
    width: 20%;
    text-align: center;
}

.email-preview.preview-body{
    width: 20%;
    text-align: center;
}

.inbox{
    width: 80%;
}

.email-filter{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.email-list{
height: 70vh;
overflow: scroll;
overflow-x: hidden;
}

.email-list ul{
    padding-inline-start: 0;
}


.email-list li{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.email-list-header{
   display: flex;
   justify-content: space-between;
   padding: 10px;

}

.isRead{
    background-color: rgb(202, 202, 202,0.3);
}

.emails-app{
    display: flex;
    max-width: 980px;
    margin: auto;
    justify-content: space-between;
}

.emails-app nav{
    width: 15%;
    display: flex;
    flex-direction: column;
}

.emails-app nav *{
    margin-bottom: 10px;
}

nav{
    padding: 20px;
}