header.sent-email-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
}

.sent-email-list{
    max-width: 980px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;

}

.sent-email-list ul{
    width: 100%;
    padding-inline-start:0
}

.sent-email-list li{
    width: 100%;
    display: flex;
    justify-content: space-between;
}