
.note-preview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    font-size: 1.2rem;
    margin: 1em;
    min-width: 15em;
    max-width: 20em;
    border-radius:10px;
    padding: 3px;
    text-align: center;
}

.note-preview:hover {
    box-shadow: -1px -1px 16px 4px rgba(192,192,192,0.75);
}


.note-img-preview img {
    object-fit: contain;
    width:100%;
    border-radius: 5px;
}

.note-video-preview iframe {
    width:100%;
    border-radius: 10px;
}
 

.note-delete-btn {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.active {
    text-decoration: none;
}

.done {
    text-decoration:line-through;
}